<div class="jumbotron text-center">
<<<<<<< HEAD
	<h1>Welcome to Dev center</h1>
	<h3>a member can meet Developer in July</h3>
=======
	<h1>Welcome to Dev match</h1>
	<h3>a member can meet developer</h3>
>>>>>>> contacform
</div>